<form name="amperageForm">
    <div class="form-group">
        <label for="powerCoef" class="control-label">Коэффициент мощности</label>
        <div>
            <input type="number" id="powerCoef" step="0.01" min="0" ng-model="model.powerCoef" class="form-control" required name="powerCoef"/>
            <div ng-messages="amperageForm.powerCoef.$error">
                <div class="error-message" ng-message="required">Укажите коэффициент мощности</div>
                <div class="error-message" ng-message="min">Значение должно быть больше 0</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="voltage" class="control-label">Номинальное напряжение</label>
        <div>
            <input type="number" min="0" step="0.01" id="voltage" ng-model="model.voltage" class="form-control" required name="voltage"/>
            <div ng-messages="amperageForm.voltage.$error">
                <div class="error-message" ng-message="required">Укажите напряжение</div>
                <div class="error-message" ng-message="min">Значение должно быть больше 0</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="elements" class="control-label">Подключенные элементы</label>
        
        <table id="elements" ng-show="model.elements.length">
            <thead>
                <tr>
                    <th>Активная мощность</th>
                    <th>Количество</th>
                    <th>Ки</th>
                    <th>Cos(a)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="element in model.elements">
                    <td>
                        <input type="number" min="0" ng-model="element.activePower" class="form-control" required/>
                    </td>
                    <td>
                        <input type="number" min="1" ng-model="element.count" class="form-control" required/>
                    </td>
                    <td>
                        <input type="number" min="0" max="1" step="0.1" ng-model="element.usingCoefficient" class="form-control" required/>
                    </td>
                    <td>
                        <input type="number" min="0" max="1" step="0.05" ng-model="element.cos" class="form-control" required/>
                    </td>
                    <td><button ng-click="removeElement(element)">Удалить</button></td>
                </tr>
            </tbody>
        </table>
        <input type="button" value="Добавить" id="addElement" class="btn btn-default form-control" ng-click="addElement()" />
    </div>

    <div class="form-group">
        <div>
            <input  id="calcButton" type="submit" value="Рассчитать" class="btn btn-default" ng-click="calc()" ng-disabled="!canBeProcessed()" />
        </div>
    </div>

    <div class="form-group" ng-show="model.amperage">
        <label for="amperage" class="control-label">Расчётный ток</label>
        <div>
            <div id="amperage">{{ model.amperage | number:2}}</div>
        </div>
    </div>
</form>